.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-image: url('../images/weather.jpg');
}

.weather-illistration {
    padding-top: 2em;
    height: 55vh;

    .weather-illistration--state-name {
        color: white;
    }

    .weather-illistration--temperature {
        font-size: 4em;
        color: #fff;
    }
}

.weather-info-container {
    background-color: #fff;
    flex-grow: 1;

    .weather-info-container--title {
        font-size: 1.75em;
        color: rgb(101, 123, 61);
        font-weight: 500;
    }
}