.locations-container {
    padding-bottom: 2em;

    .locations-input {
        margin-bottom: 1em;
    }

    .locations-instructions-text {
        margin-bottom: 1em;
        font-size: 0.9em;
    }
}