.weather-info-wrapper {
    position: absolute;
    animation: weather-info-slide-up 1s forwards;

    .weather-svg-container {
        width: 100vw;
        position: relative;

        .weather-info-svg-curves {
            display: block;
        }
    }
    .weather-info-container {
        background-color: #fff;
        flex-grow: 1;
    }

    @keyframes weather-info-slide-up {
        0% {
            bottom: -30%;
        }
        100% {
            bottom: 0;
        }
    }
}
